/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.gradient-header{
  --background: linear-gradient(233deg, #4b626e , #263238);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1 );
  --color:#ffffff;
}

.ion-color-lightgreen {
  --ion-color-base: var(--ion-color-lightgreen) !important;
  --ion-color-base-rgb: var(--ion-color-lightgreen-rgb) !important;
  --ion-color-contrast: var(--ion-color-lightgreen-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-lightgreen-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-lightgreen-shade) !important;
  --ion-color-tint: var(--ion-color-lightgreen-tint) !important;
}


